*{
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
    color: #F2F2F2;
    font-family: sans-serif;
}
.circle{
    display: inline-block;
    position: relative;
    left: 45px;
    top: 35px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.202);
}
.texto{
    color: black;
}
.box-1{
  
    background-color: #E28625;
}
.box-2{
    background-color: #006971;
}
.box-3{
    background-color: #004140;
}